{% extends "recipes/base.html" %}
{% block content %}
    {% for recipe in recipes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ recipe.author }}</a>
              <small class="text-muted">{{ recipe.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'recipe-detail' recipe.id %}">{{ recipe.title }}</a></h2>
            <p class="article-content">{{ recipe.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}