{% extends "recipes/base.html" %}
{% block content %}
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function likeRecipe() {
        console.log(getCookie('csrftoken'));
        $.ajax({
            url: window.location.pathname + 'like/',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                $("#like_count").html(data["likes"]);
                if (data["is_liked"] == true) {
                    $("#like").removeClass("btn-info").addClass("btn-secondary");
                } else {
                    $("#like").removeClass("btn-secondary").addClass("btn-info");
                }
            },
            error: function(request, status, error){
                window.location.href = '/login';
            }
        });
    }
    function rateRecipe(rate){
        $.ajax({
            url: window.location.pathname + 'rate/',
            data: {
                'rate': rate,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                $("#user-rate").html(data["user_rate"]);
                $("#rate-ratio").html(data["rate_average"] + ' / 5');
            },
            error: function(request, status, error){
                window.location.href = '/login';
            }
        });
    }
</script>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <img class="rounded-circle account-img" src="{{ recipe.image.url }}">
            <a class="mr-2">{{ recipe.author }}</a>
            <small class="text-muted">{{ recipe.date_posted|date:"F d, Y" }}</small>
            {% if recipe.author == user %}
            <div>
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'recipe-update' recipe.id %}">Update Recipe</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'recipe-delete' recipe.id %}">Delete Recipe</a>
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {% if recipe.is_user_liked %}
                <div class="btn btn-secondary btn-sm my-1 ml-2" id="like" onclick="likeRecipe();" style="cursor: pointer;">Like</div>
                <small class="bg-light text-dark" id="like_count"> {{ recipe.like_count }}</small>
                {% else %}
                <div class="btn btn-info btn-sm my-1 ml-2" id="like" onclick="likeRecipe();" style="cursor: pointer;">Like</div>
                <small class="bg-light text-dark" id="like_count"> {{ recipe.like_count }}</small>
                {% endif %}
                
                <div style="cursor: pointer;" class="btn btn-info btn-sm"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vote
                        <div class="bg-light text-dark" id="user-rate">{{ recipe.user_rate }}</div>
                        
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="rateRecipe('1');">1</a>
                            <a class="dropdown-item" onclick="rateRecipe('2');">2</a>
                            <a class="dropdown-item" onclick="rateRecipe('3');">3</a>
                            <a class="dropdown-item" onclick="rateRecipe('4');">4</a>
                            <a class="dropdown-item" onclick="rateRecipe('5');">5</a>
                        </div>
                </div> | <small class="bg-light text-dark" id="rate-ratio">{{ recipe.rate_average }} / 5</small>
            </form>
   
        </div>
        <h2 class="article-title">{{ recipe.title }} | <strong class="d-inline"
                style="font-size: 20px;">Difficulty:</strong>
            {% if recipe.difficulty == 1 %}
            <a class="text-success d-inline" style="font-size: 20px;">{{ recipe.get_difficulty_display }} &#x1F60B;</a>
            {% elif recipe.difficulty == 2 %}
            <a class="text-warning d-inline" style="font-size: 20px;">{{ recipe.get_difficulty_display }} &#x1F61C;</a>
            {% elif recipe.difficulty == 3 %}
            <a class="text-danger d-inline" style="font-size: 20px;">{{ recipe.get_difficulty_display }} &#x1F61D;</a>
            {% endif %}
        </h2>
        <p class="article-content">{{ recipe.content }}</p>
        <ul class="list-group w-50 my-2" style="align-self: center;">
            <h4>Ingredients:</h4>
            {% for ingredient in recipe.ingredients.all %}
            {% if recipe.difficulty == 1 %}
            <li class="list-group-item list-group-item-success">{{ ingredient.name }}</li>
            {% elif recipe.difficulty == 2 %}
            <li class="list-group-item list-group-item-warning">{{ ingredient.name }}</li>
            {% elif recipe.difficulty == 3 %}
            <li class="list-group-item list-group-item-danger">{{ ingredient.name }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</article>
{% endblock content %}