{% extends "recipes/base.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
            <div>
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'recipe-update' object.id %}">Update Recipe</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'recipe-delete' object.id %}">Delete Recipe</a>
            </div>

            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <ul class="list-group w-50 my-2" style="align-self: center;">
            <h4>Ingredients:</h4>
            {% for ingredient in object.ingredients.all %}
            <li class="list-group-item list-group-item-secondary">{{ ingredient.name }}</li>
            {% endfor %}
        </ul>
    </div>
</article>
{% endblock content %}